@import "../../index.scss";
label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $data-auth-color;
  font-weight: 400;
}

input {
  height: 2.7em;
  border-radius: 30px;
  border: 1px solid $input-border-color;
  font-size: 16px;
  color: $inner-input-auth-color;
  font-family: "Geologica", sans-serif;
}

input::-webkit-input-placeholder {
  font-weight: 300;
}

input::-moz-placeholder {
  font-weight: 300;
}

input:-ms-input-placeholder {
  font-weight: 300;
}
.inputTitle {
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
  padding: 0;
}

.textarea {
  height: 100px;
  border-radius: 15px;
  border: 1px solid $input-border-color;
  padding-left: 1em;
  padding-top: 1em;
  font-size: 16px;
  color: $inner-input-auth-color;
  font-family: "Geologica", sans-serif;
  font-weight: 300;

  &:active,
  &:focus {
    outline: none;
  }
}
