.themeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background-color: #97abdf;
  border-radius: 20px;
  border: 2px solid #97abdf;
}

.settings {
  gap: 10px;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  z-index: 100;
}
.panel {
  height: 33px;
  width: 60px;
  overflow: hidden;
  border-radius: 40px;
}

.dark,
.light {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin-top: -12.5px;
  padding: 0;
}

.light {
  transform: translateX(0);
  background: url("../../assets/mode/moon.svg") no-repeat center;
  background-size: cover;
}

.dark {
  transform: translateX(25px);
  background: url("../../assets/mode/sunTheme.svg") no-repeat center;
  background-size: cover;
}
