@import "../../../index.scss";

.AuthPage {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  padding: 27px;
  margin-top: 10vh;
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  min-width: 330px;
  border-radius: 20px;
  h1 {
    margin-block: 0.5em 0;
    font-size: 30px;
    color: $auth-title-color;
    padding: 0;
    margin-inline: 0;
    font-weight: 500;
  }
  .loginParagraph {
    margin: 1em 0;
    font-size: 16px;
    color: $auth-text-color;
    font-weight: 300;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .rememberMe {
          padding-block: 0;
          padding-inline: 0.5em 0;
          font-weight: 400;
        }
      }
      span {
        font-size: 14px;
        color: $light-violet-color;
        font-weight: 500;
      }
    }
  }
  h5 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    white-space: nowrap;
    .linkButton {
      margin: 0;
      height: fit-content;
      width: fit-content;
      background: none;
      border: none;
      font-family: "Geologica", sans-serif;
      color: $light-violet-color;
      font-weight: 400;
      white-space: nowrap;
      transition: all 0.3s ease;
      cursor: pointer;
      outline: none;
    }
    .linkButton:hover {
      color: darken($inner-input-auth-color, 10%);
    }
  }
}
.error{
  background-color: rgba(139, 0, 0, 0.3);
  color:darkred;
  border-radius: 10px;
  padding-inline: 10px;
  width: fit-content;
  margin-left: 1em;
}
