@import "../../index.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 15px 0 25px 0;
  }

  input {
    width: 25vw;
    height: 50px;
    margin-bottom: 30px;
    padding: 10px 14px 10px 24px;
    outline: none;
  }

  label,
  .label {
    color: black;
    font-size: 17px;
    margin: 0px 0;
    padding: 0;
    width: 25vw;
  }

  .errorText {
    margin-top: 20px;
    color: red;
  }

  .btnUpdate {
    margin: 15px auto 20px;
    font-size: 18px;
    background-color: $lighter-violet-color;
    color: $white-color;
    cursor: pointer;
    border: none;
    width: 210px;
    height: 45px;
    border-radius: 25px;
    outline: none;

    &:hover {
      background-color: $auth-button-hover-color;
    }
  }

  .tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: $white-color;
    border-radius: 10px;
    background-color: $lighter-violet-color;
    position: relative;
    cursor: pointer;
  }

  .text {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .text {
    visibility: visible;
    opacity: 1;
    background-color: $color-font-not-hover;
  }

  .organizationInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .title {
      color: $finished;
      font-size: 17px;
      margin-right: 10px;
    }
  }
}
