.badge {
  border-radius: 40px;
  border: 1px solid #E86D6D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 5px 10px;  
}

.badgeSpan{
  font-size: 12px;
  font-weight: 500;
  color: #A0AEC0;
}

.badgeCross {
  cursor: pointer;
  font-size: 12px;
  color: #A0AEC0;
}