@import "../../index.scss";
label {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  font-size: 14px;
  color: $data-auth-color;
  font-weight: 400;

  span {
    margin-left: 5%;
  }
}

input {
  margin: auto;
  height: 2em;
  width: 90%;
  border-radius: 30px;
  border: 1px solid $input-border-color;
  padding-left: 1em;
  font-size: 16px;
  color: $inner-input-auth-color;
  font-family: "Geologica", sans-serif;
  margin-top: 0.5em;
  outline: none;
}

input::-webkit-input-placeholder {
  font-weight: 300;
}

input::-moz-placeholder {
  font-weight: 300;
}

input:-ms-input-placeholder {
  font-weight: 300;
}
.inputTitle {
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
  padding: 0;
}
