@import "../../../index.scss";
.about{
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
h1, h3{
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
  .project{

  }
  .aim{

  }
  .team{
    margin-block: 20px;
  }
  .creators{

  }
  .teamInfo{
    display: flex;
    justify-content: space-between;
    img{
      flex: 0 0 20%;
      width: 20vmin;
      height: 28vmin;
      border-radius: 20px;
    }
  }
}
.partners{
  display: flex;
  flex-direction: column;
  width: 100%;

  .partCont{
    display: flex;
    width: 100%;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 20px;
    .logos{
      flex: 0 0 30%;
      height: 15vmin;
      background-color: white;
      border-radius: 20px;
      display: flex;
      align-content: center;
      justify-content: center;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      border: none;
      transition: all .5s ease;
      img{
        width: inherit;
        height: 15vmin;
        padding: 20px;
      }

    }
    .logos:hover{
      scale: 105%;
      filter: none;
    }

  }
}
.thoths{
  display:flex;
  flex-direction: row-reverse;
  height: 30vmin;
  gap:20px;
  min-height:fit-content ;
  width: 100%;
  margin-block: 20px;
  p{
    flex: (4);
    background-color: rgba(125, 152, 226, 0.8);
    color: white;
    font-size: 2.5vmin;
    font-weight: 200;
    padding:  1vmin;
    border-radius: 40px;
    height: 30vmin;
    min-height:fit-content;
    display: flex;
    align-items: center;
  }
  img{
    flex: (1);
    height: 100%;
    width: auto;
    border-radius: 40px;
  }
}
.ex{
  margin-top: 20px;
  display:flex;
  height: 24vmin;
  gap:20px;
  min-height:fit-content ;
  width: 100%;
  p{
    background-color: rgba(125, 152, 226, 0.8);
    color: white;
    font-size:  2.5vmin;
    font-weight: 200;
    padding:  1vmin;
    border-radius: 40px;
    height: 24vmin;
    min-height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: inherit;
  }
  img{
    height: 100%;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
  }
}

.shortInf{
  width: 140vmin;
  background-color: white;
  font-size:  2.5vmin;
  padding:  2vmin;
  border-radius: 20px;
  font-weight: 200;
  margin-bottom: 20px;

  h4{
    margin-left: 20%;
    padding:  3vmin;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: $background-color;
    width: fit-content;
    border-radius: 20px;
    font-size: 4vmin;
    color:$light-violet-color;
  }
}
.backComponent{
  transition: all .3s ease;
}
.backComponent:hover{
  transform: scale(110%);
}
.devs{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 40px;
  *{
    font-size: 20px;

    margin: 0;
  }
  gap: 10px;
}