@import "../../index.scss";
.authHeader {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  width: 96vw;
  height: 50vh;
  border-radius: 40px;
  inset: 2vw;
  background: url("../../assets/authHeader.svg");
  background-color: $lighter-violet-color;
  background-size: cover;
  z-index: -1;
  padding-top: 6vh;
  .title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    padding: 4px;
  }
  .paragraph {
    margin-top: 0;
    font-weight: 100;
  }
}
