@import '../../../index.scss';
.members{

  height: fit-content;
  width: inherit;
  margin-bottom: 20px;
  max-width: 700px;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 2em;
  border-radius: 20px;
  h3{
    font-size: 25px;
  }
}
.Info{
  display: flex;
  flex-direction: column;

  padding: 3em;
  h3{

  }
  h4{
    font-weight: 200;
  }
}
.divider{
  border: none;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.memberList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  height: 5em;
}
.userInfo{
  display: flex;
  justify-content: center;
  align-items: center;

}
.userInfoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  *{
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
h4{
  color: $font-color-date;
  font-weight: 500;
}
  p{
  font-weight: 100;
    color: #718096;
  }
}
.Cap{
  color: $leader;
  background-color: $leader-background;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 600;
}
.Member{
  color: $member;
  background-color: $member-background;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 600;
}
.role{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.invited{
  color: #718096;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 300;
}
.accepted{
  color: $font-color-date;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 300;
}
.inviteForm{
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inviteFormContainer{
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.inviteInput{
  margin: 0;
  height: calc(4em - 4px);
  width: 19em;
  border: 2px dashed $input-border-color;
}
.inviteButton{
font-size: 2em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border:none;
}
.memList{
  margin-top: 1em;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  li{
    color: $font-color-date;
    background-color: $input-border-color;
    margin: .2em;
    padding-inline: .5em;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 200;
  }
}

.hackathonHeader{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}


.toTask {
  color: white;
  font-family: "Geologica", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  height: 230px;
  min-height: 230px;
  background: #cc8fc6;
  box-shadow: 0 -200px 100px -120px #7254b6 inset;
  animation: background 3s infinite alternate;
  transition: .3s all ease;
  border:none;
}

@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px rgba(125,152,226,1) inset;
  }
}
.toTask:hover {
  animation: bounce 0.3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.toTask:active {
  animation: pop 0.3s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.team{
  h2{
    color:#7254b6
  }
}
.createTeam{
  background-color: white;
  border-radius: 20px;
  padding: 20px ;
  margin-bottom: 20px;
  display: flex;

  justify-content: space-between;
  flex-direction: column;
  button{
    border:2px solid $light-grey-color;
    background: none;
    padding-inline: 1em;
    border-radius: 40px;
    width: 20%;
    height: 4em;
    transition: .2s all ease;
  }
  button:hover{
    background-color: $light-grey-color;
  }
  button:active{
    border:2px solid dimgrey;
  }
  input{
    height: 4em;
    width: 80%;
  }
}
.teamContainer{
  width: 40%;

}

.userAvatarImg {
  width: 50px;
  height: 50px;
}


.hackathonPage{
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20%;
}
.titleHac{
  font-size: 48px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 20px;
}
.hackathonPanelUpper{
  background: url("../../../assets/authHeader.svg");
  color: white;
  width: 100%;
  min-height: 300px;
  height: 20vh;
  background-color: $light-violet-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //*{
  //  padding-left:20px
  //}
}

.upperHello{
  display:flex;
  align-items: center;
  margin-top: 20px;
  *{
    padding-left: 0;
  }
  h4{
    font-size: 20px;
  }
  .button{
    border:none;
    font-family: "Geologica", sans-serif;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-inline: 1em;
    //padding-block: .5em;
    box-shadow: none;
    outline: none;
    transition: .3s all ease;
    font-size: 15px;
  }
  .button:hover{
    box-shadow: black 5px 5px ;
  }
  .button:active{
    outline: 4px solid black;
  }
}
.panelOpen{
  background-color:  $light-violet-color;
}
.panelInProgress{
  background-color: $inProgress;
}
.panelClosed{
  background-color: $finished;
}
.hackathonPanelLower{
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  margin-right: 20px;

  justify-content: space-between;
  gap:20px;
}
.about{
  display: flex;
  flex-direction: column;
  padding:20px;
  border-radius: 20px;
  background-color: white;
  width: 60%;
  gap:40px;
  h2{
    font-size: 40px;

  }
  p{
    font-size:20px;
    font-weight: 200;
  }
}
.timerName{
  display: flex;
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;

  .countDownRow{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
   align-items: center;
  }
}

