@import '../../../index.scss';
.members{

  height: fit-content;
  width: 40vw;
  max-width: 700px;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 2em;
  border-radius: 20px;
  h3{
    font-size: 25px;
  }
}
.Info{
  display: flex;
  flex-direction: column;

  padding: 3em;
  h3{

  }
  h4{
    font-weight: 200;
  }
}
.divider{
  border: none;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.memberList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  height: 5em;
}
.userInfo{
  display: flex;
  justify-content: center;
  align-items: center;

}
.userInfoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  *{
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
h4{
  color: $font-color-date;
  font-weight: 500;
}
  p{
  font-weight: 100;
    color: #718096;
  }
}
.Cap{
  color: $leader;
  background-color: $leader-background;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 600;
}
.Member{
  color: $member;
  background-color: $member-background;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 600;
}
.role{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.invited{
  color: #718096;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 300;
}
.accepted{
  color: $font-color-date;
  padding-inline: .7em;
  border-radius: 10px;
  font-weight: 300;
}
.inviteForm{
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inviteFormContainer{
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.inviteInput{
  margin: 0;
  height: calc(4em - 4px);
  width: 19em;
  border: 2px dashed $input-border-color;
}
.inviteButton{
font-size: 2em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border:none;
}
.memList{
  margin-top: 1em;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  li{
    color: $font-color-date;
    background-color: $input-border-color;
    margin: .2em;
    padding-inline: .5em;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 200;
  }
}
.toTask{

}
.hackathonHeader{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}


.toTask {
  color: white;
  font-family: "Geologica", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 20px;
  height: 230px;
  min-height: 230px;
  background: #cc8fc6;
  box-shadow: 0 -200px 100px -120px #7254b6 inset;
  animation: background 3s infinite alternate;
  transition: .3s all ease;
  border:none;
}

@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px rgba(125,152,226,1) inset;
  }
}
.toTask:hover{
  outline: 3px solid rgba(45, 55, 72, 0.5);
}
.toTask:active{
  outline: 5px solid rgba(45, 55, 72, 0.5);
}
.team{
  h2{
    color:#7254b6
  }
}

.userAvatarImg {
  width: 50px;
  height: 50px;
}