.teamItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.userAnswerBlock{
  padding: 20px;
  background-color: rgb(255, 255, 255);
}