.btnContainer {
  margin: auto;
  margin-top: 10px;
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
  background-color: #97abdf;
  border-radius: 30px;
  padding: 15px 44px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #6e8ac7;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
