@import "../../index.scss";
.hackathonPanel {
  background: url("../../assets/authHeader.svg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 270px;
  height: 17vh;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 20px;
}
.hackathonPanelHeader {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hackathonPanelHeaderLeft {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  height: 50%;

  * {
    margin-inline: 1em;
    margin-block: 0;
    height: fit-content;
  }
}
.title {
  font-size: 32px;
  color: white;
  font-weight: 800;
  word-wrap: break-word;
text-align: cen;
  max-width: fit-content;
}
.status {
  white-space: nowrap;
  font-size: 15px;
  padding-inline: 1em;
  padding-block: 0.3em;
  background-color: white;
  border-radius: 40px;
  color: #16a34a;
}
.button {
  background-color: white;
  border: none;
  color: $light-violet-color;
  min-height: 42px;
  height: 50px;
  border-radius: 40px;
  width: fit-content;
  padding-inline: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  outline: none;
  transition: all 0.1s ease;
}
.hackathonPanelHeaderRight {
  position: relative;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin-right: 2vw;
  background-color: rgba(255, 255, 255, 0.8);
  color: $font-color-date;
  border-radius: 10px;
  padding: 0.5em;
  * {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
hr {
  width: 90%;
  opacity: 50%;
}
.date {
  font-size: 28px;
}
.month {
  font-size: 12px;
  font-weight: 100;
  white-space: nowrap;
  padding-inline:1% ;
}
.area {
  height: 33px;
  font-size: 15px;
  padding-inline: 1em;
  padding-block: 0.5em;
  background-color: #F0E8FA;
  border-radius: 40px;
  white-space: nowrap;
  color: #9333EA;
}
.type{
  height: 33px;
  font-size: 15px;
  padding-inline: 1em;
  padding-block: 0.5em;
  background-color: #E2E9F5;
  border-radius: 40px;
  white-space: nowrap;
  color: #2563EB;
  text-transform: lowercase;
}
.registrationOpen {
  color: #0095ff;
  background-color: #d7eeff;
}

.inProgress {
  color: #16a34a;
  background-color: #E3F3EA;
}

.finished {
  color: #ff284e;
  background-color: #ffd6db;
}
.button:hover {
  outline: 2px solid rgba(112, 112, 112, 0.342);
}
.panelOpen {
  background-color: $light-violet-color;
}
.panelInProgress {
  background-color: $inProgress;
}
.panelClosed {
  background-color: $finished;
}
.panelOpenButton {
  color: $light-violet-color;
}
.panelInProgressButton {
  color: $inProgress;
}
.panelClosedButton {
  color: $finished;
}

.btnPanel {
  display: flex;
  gap: 18px;
}
.darkPanel {
  .title {
    color: $font-color-date;
  }
  .button:hover {
    outline: 3px solid $font-color-date;
  }
  .panelOpen {
    background-color: $dark-light-violet-color;
  }
  .panelInProgress {
    background-color: $darkInProgress;
  }
  .panelClosed {
    background-color: $finished;
  }
  .panelOpenButton {
    color: $dark-light-violet-color;
  }
  .panelInProgressButton {
    color: $darkInProgress;
  }
  .panelClosedButton {
    color: $finished;
  }
}
.password{
  font-weight: 700;
}
.random{
  background-color: #ffd6db;
  color:$font-color-date;
  border-radius: 20px;
  padding-inline: 10px;
  width: fit-content;
}
.cancelBTN{
  background-color: rgba(45, 183, 245, 0.2);
  color: #2b9fd2;
  border-radius: 20px;
  padding-inline: 10px;
  width: fit-content;
  font-size: 22px;
  margin-block:20px;
  margin-right: 10px;
  transition: all .3s ease;
}
.deleteBTN{
  background-color: #ffd6db;
  color: #ff284e;
  border-radius: 20px;
  padding-inline: 10px;
  width: fit-content;
  font-size: 22px;
  margin-block:20px;
  margin-right: 10px;
  transition: all .3s ease;
}
.deleteBTN:hover{
  background-color: #b41f38;
}
.cancelBTN:hover{
  background-color: #207aa2;
}
.modal {
  width: 50vw;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  p{
    text-align: center;
  }
}
