@import "../../index.scss";

.AuthButton {
  font-family: "Geologica", sans-serif;
  background-color: $auth-button-hover-color;
  width: 90%;
  margin: auto;
  height: 2.7em;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.AuthButton:hover {
  outline: 2px solid $auth-button-hover-color;
}

.AuthButton:active {
  background-color: darken($auth-button-color, 10%);
}
