@import '../../../index.scss';
.main{
  width: calc(100% - 5vh - 5vh);
  background-color: white;
  min-height: 100vh;
  margin-top: 7vh;
  margin-right: 5vh;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-inline:10vh;
  padding-block: 5vh;
}
.Btn{
  border: 2px solid $light-violet-color;
  font-family: 'Geologica', sans-serif;
  background-color: white;
  color: $light-violet-color;
  font-weight: 600;
  border-radius: 25px;
  width: 15em;
  min-height: 3em;

}
.pageItem{
  background:none;
}
.pageLink{
  border: none;
  background-color:#7d98e2;
  width:6em;
  height:14px;
  border-radius:20px;
  margin-inline:.1em
}
.active{
  background-color:#7d98e2;
}
.unactive{
  background-color: rgba(125, 152, 226, 0.5);
}
.BtnContainer{
  display: flex;
  justify-content: space-between;
  gap:5px
}
