@import "../../../index.scss";

.topPlain {
  position: relative;
  top: 24px;
  background-color: #97abdf;
  width: 100%;
  height: 300px;
  border-radius: 16px;
  background-image: url("@/assets/headerBg.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  // background-size: contain;
  background-position: center;
}

.hello {
  padding: 14px 0 0 20px;
  color: white;
}

.avatarBox {
  position: relative;
  display: flex;
  height: 113px;
  top: -35px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 35px 0 35px;
  border-radius: 20px;
  backdrop-filter: blur(21px);
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.027);
  object-fit: cover;
}

.avatarWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.textWrapper {
  padding-left: 20px;
  gap: 4px;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  color: #2d3748;
}

.email {
  font-family: "Geologica", sans-serif;
  font-size: 14px;
  color: #6e6e6e;
  line-height: 1.4em;
  font-weight: 300;
}

.edit {
  position: absolute;
  bottom: 9px;
  left: 90px;
  height: 26px;
  width: 26px;
  background-color: $white-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: $light-grey-color;
  }
}

.modal {
  width: 40vw;
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.096);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
.mainContainer{
  width: 100%;
  height: 100vh;
}
.upperPanel{
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .profileInfo, .toHackathons{
    width: 100%;
    height: inherit;
    background-color: white;
    border-radius: 20px;
    min-width: 250px;
    padding:20px;
    color:$font-color-date;
  }
}
.infoUserEdit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    border: none;
    border-radius: 50%;
    background-color: $light-violet-color;
    background-image: url("../../../assets/editWhite.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
  }
  h4{
    font-size: 20px;
    white-space: nowrap;
  }
}

.profileInfo{
  .infoContainer{

    h5{
      color:#718096;
      min-width: fit-content;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      font-size: 18px;
      font-weight: 300;
      span{
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
}


.toHackathons {
  display: flex;
  flex-direction: column;
  position: relative;

}
.pic{
  //background-color: #16A34A;
  min-width: 260px;

  height: 100%;
  background: url("../../../assets/smart-people.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.viewBtn{
  font-size: 12px;
  position: absolute;
  min-width: fit-content;
  white-space: nowrap;
  font-family: "Geologica", sans-serif;
  border-radius: 40px;
  border: 2px solid $light-violet-color;
  padding-inline: 2em;
  padding-block: 1em;
  color:$light-violet-color;
  background-color:white ;
  top:80%;
  left: 60%;
}
.progress{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  min-width: 250px;
  color:$font-color-date;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
  min-width: 250px;
}
