@import "../../../index.scss";

.StartPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background: url("../../../assets/MainDashboard.svg");
  background-size: cover;
  padding-block: 10%;
}
.DarkStartPage{
  color: white;
  background: url("../../../assets/DarkHome.svg");
}
.valuesContainer {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.values {
  width: 300px;
  height: 90%;
  border-radius: 20px;
  background-color: white;
  padding: 2%;
  margin-bottom: 2vh;
  max-width: 300px;
  max-height: 350px;
  img {
    width: 2vw;
    height: 2vw;
    margin-block: 0;
    padding-block: 0;
  }
  h5 {
    font-size: 20px;
    max-font-size: 20px;
    font-weight: 200;
    margin-block: 0;
    padding-block: 1vh 0;
  }
}
.Welcome {
  font-size: 60px;
  font-weight: 100;
  margin-block: 5% 0;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-block: 0;
    font-size: 90px;
  }
}
.valTitle {
  font-size: 3vw;
  margin-block: 3vw 0;
  padding-bottom: 3vh;
}
.paragraph {
  margin-block: 0;
  font-size: 26px;
  font-weight: 100;
}
.button {
  font-family: "Geologica", sans-serif;
  background-color: $auth-button-color;
  min-height: 3em;
  width: fit-content;
  padding-inline: 2em;
  height: 3em;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 20px;
  margin-top: 1.5em;
  outline: none;
  transition: all 0.3s ease;
}

.button:hover {
  outline: 2px solid $auth-button-hover-color;
}
.logo {
  position: fixed;
  left: 50px;
  top: 20px;

}
.ourVal{
  font-size: 64px;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  width: 100%;
  padding-inline: 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2%;

  *{
    border:none;
    border-radius: 20px;

  }
  p{
    font-weight: 200;
  }
}
.cardImage{
  padding-bottom: 10px;
  width: 3em;
}
.trigger {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 200vh;
  padding: 20px;
}
.box {
  background-color: black;
  width: 10vw;
  height: 10vw;
}
.mouse{
  display: flex;
  flex-direction: column;
  align-items: center;
}
