@import "../../../index.scss";

.homeContainer {
  margin-top: 70px;
  width: calc(100%);
}

.hackathonList {
  height: fit-content;

}
.title {
  font-size: 40px;
  font-weight: 700;
  color: $font-color-date
}

.fullWidthFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}
.darkPage {
  .title {
    color: white;
  }
}
.selector{
  border-radius: 20px;
}
