@import '../../../index.scss';


.hackathonList{
  width: calc(100%);
  height: fit-content;
  min-width: fit-content;
}
.title{
  font-family: Roboto, sans-serif;
  font-size:36px;
  margin-top:30px;
  font-weight: 700;
}

.fullWidthFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.darkPage{
  .title{
    color:white
  }
}
