@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
$font-family-commissioner: "Commissioner", sans-serif;
$black-color: black;
$light-violet-color: #7d98e2;
$lighter-violet-color: #97abdf;
$blind-violet-color: rgba(151, 171, 223, 0.25);
$auth-title-color: #101828;
$auth-text-color: #475467;
$data-auth-color: #344054;
$auth-button-color: #7d98e2;
$inner-input-auth-color: #667085;
$input-border-color: #d0d5dd;
$light-grey-color: #d9d9d9;
$background-color: #f8f8fa;
$auth-button-hover-color: #8797c4;
$background-color-link-hover: #eaeef9;
$auth-button-hover-color: #8797c4;
$color-font-not-hover: #a0aec0;
$white-color: #ffffff;
$font-color-date: #2d3748;
$inProgress: #97d6df;
$finished: #667085;
$leader: #0d9488;
$leader-background: rgba(20, 184, 166, 0.1);
$member: #9333ea;
$member-background: rgba(168, 85, 247, 0.1);
$font-color-edit-hack: #718096;

//dark
$dark-bg: #35405b;
$dark-gray: #667085;

$darkInProgress: #567b7e;
$dark-light-violet-color: #5a6d9b;


.dark{
  background-color: $dark-bg;
}

body {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Geologica", sans-serif;
  background-color: $background-color;
}

.appContainer {
  display: flex;
}

.mainWrapper {
  width: 100%;
  padding-right: 20px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

.flexCenterCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}