$black-color: black;
$light-violet-color: #7d98e2;
$lighter-violet-color: #97abdf;
$blind-violet-color: rgba(151, 171, 223, 0.25);
$auth-title-color: #101828;
$auth-text-color: #475467;
$data-auth-color: #344054;
$auth-button-color: #97abdf;
$inner-input-auth-color: #667085;
$input-border-color: #d0d5dd;
$light-grey-color: #d9d9d9;
$background-color: #f8f8fa;
$auth-button-hover-color: #8797c4;

body {
  width: 100wv;
  height: fit-content;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Geologica", sans-serif;
  background-color: $background-color;
}

.appContainer {
  display: flex;
}
