@import '../../../index.scss';
.hackathonPage{
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20%;
}
.titleHac{
  font-size: 48px;
height: fit-content;
  font-weight: 800;
  //max-width: 60%;
  padding-left: 20px;

  margin-bottom: -10px;
  min-width: fit-content;
}
.hackathonPanelUpper{
  background: url("../../../assets/authHeader.svg");
  color: white;
  width: 100%;
  min-height: 300px;
  height: 20vh;
  background-color: $light-violet-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
*{
  //padding-left:20px
}
}
.upperHello{
  display:flex;
  align-items: center;
  margin-top: 20px;
  *{
    padding-left: 0;
  }
  h4{
    font-size: 20px;
    margin-bottom: 0;
  }
  button{
    border:none;
    font-family: "Geologica", sans-serif;
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-inline: 1em;
    //padding-block: .5em;
    box-shadow: none;
    outline: none;
    transition: .3s all ease;
    font-size: 15px;
    background: url("../../../assets/arrowBack.svg");
  }
  button:hover{
    box-shadow: black 5px 5px ;
  }
  button:active{
    outline: 4px solid black;
  }
}
.panelContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap:20px;
  margin-top: 20px;
}
.hackathonPanelSMall{
  min-width: 220px;
  min-height:10em;
  width: calc((100% / 4));
  height: 15vh;
  aspect-ratio: .5 / 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  color:$font-color-date;
  border-radius: 20px;
  padding: 20px;
  transition: .3s all ease;
  //box-shadow: $light-violet-color 5px 5px ;
  *{
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
}
.hackathonPanelSMall:hover{
  scale: 110%;
}

.hr{
  height: 1px;
  width: 90%;
  background-color:#6E6E6E ;
 border: 1px solid #6E6E6E;
  margin-block: 10px;
}
.date{
  font-size:24px;
  font-weight: 800;
}
.avialable{
  font-size:24px;
  font-weight: 500;
}
.month{
  font-size:15px;
  font-weight: 200;
}
.takePartBTN{
  background: none;
  border: none;
  height: 230px;
  width: 100%;
  border-radius: 20px;
  font-family: "Geologica", sans-serif;
  font-size:40px;
  color:white;
  font-weight: 600;
  white-space: normal;
  transition: .3s all ease;
}
.ButCont{
  min-width: 220px;
  width: calc((100% / 3));
  height: 25vh;
  aspect-ratio: .5 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  color:$font-color-date;
  border-radius: 20px;
  padding: .5em;
  transition: .3s all ease;
  *{

    margin: 0;
    padding: 0;
  }
}

.hackathonPanelLower{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  //height: fit-content;
  min-height: 300px;
  border-radius: 20px;
  gap: 20px;
}
.description{
  width: calc(65% - 10px);
  min-height: 230px;
  max-height: fit-content;
  background-color: white;
  border-radius: 20px;
  color: $font-color-date;
  padding:20px;
  *{
    margin: 0;
    padding: 0;
  }
  h2{
    font-size: 24px;
  }
  p{
    font-size:20px;
    font-weight: 100;
    padding-top: 20px;
  }
}
.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  height: 150px;
background-color: $light-violet-color;
  animation: background 3s infinite alternate;
  transition: .3s all ease;
}

//@keyframes background {
//  50% {
//    background: skyblue;
//    box-shadow: 0 -200px 100px -100px rgba(125,152,226,1) inset;
//  }
//}
.pic:hover{
  scale: 110%;
}
.pic:active{
  outline: 5px solid rgba(45, 55, 72, 0.5);
}
.panelOpen{
  background-color:  $light-violet-color;
}
.panelInProgress{
  background-color: $inProgress;
}
.panelClosed{
  background-color: $finished;
}
.panelOpenContainer{
  .hackathonPanelSMall{
    //box-shadow: $light-violet-color 5px 5px ;
  }
  .hackathonPanelSMall:hover{
    scale: 110%;
  }

}
.panelInProgressContainer{

  .hackathonPanelSMall{
    //box-shadow: $inProgress 5px 5px ;
  }
  .hackathonPanelSMall:hover{
    scale: 110%;
  }
}
.panelClosedContainer{


  .hackathonPanelSMall:hover{
    scale: 110%;
  }

}
.timeContainer{
  width: 100%;;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
}
.time{
  width: 100%;;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hackathonPanelOrganization{
  font-size: 20px;
  background-color: $lighter-violet-color;
  color: white;
  width: fit-content;
  border-radius: 20px;
  padding-inline: 10px !important;
}
.organizationsList{
  ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.iframeWrapper{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.backArrow {
  padding-left: 6px;
}
.status {
  height: 33px;
  font-size: 15px;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 40px;
  white-space: nowrap;
  width: fit-content;
}
.registrationOpen {
  color: #0095ff;
  background-color: #d7eeff;
}

.inProgress {
  color: #16a34a;
  background-color: #E3F3EA;
}

.finished {
  color: #ff284e;
  background-color: #ffd6db;
}
.area {
  height: 33px;
  font-size: 15px;
  padding-inline: 1em;
  padding-block: 0.5em;
  background-color: #F0E8FA;
  border-radius: 40px;
  white-space: nowrap;
  color: #9333EA;
  width: fit-content;
}
.type{
  height: 33px;
  font-size: 15px;
  padding-inline: 1em;
  padding-block: 0.5em;
  background-color: #E2E9F5;
  border-radius: 40px;
  white-space: nowrap;
  color: #2563EB;
  text-transform: lowercase;
  width: fit-content;

}
.hacUpperContainer{
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.dataContainer{
  display: flex;
  justify-content: flex-start;
  gap:20px;
  max-width: 50%;
  align-items: flex-end;
  height: fit-content;
}
.statusCont{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  gap: 10px;
  padding-left:0;
  *{
    margin-bottom: 0;
  }
}
.icons{
  margin-left: -5px;
}
.infowrap{
  *{
    text-decoration: $font-color-date;
    color: $font-color-date;
  }

}
.panelLowerRignt{
  width: calc(35% - 10px);
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  *{
    padding: 0;
  }
}
