.ddContainer {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.ddWrapper {
  display: flex;
  width: 14vw;
  gap: 8px;
  align-items: center;
  padding: 10px 14px 10px 0px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #d0d5dd;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.innerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  color: #a0aec0;
}
.ddText {
  font-size: 16px;
  color: #6c7075;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.ddArrow {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.arrowSVG {
  transform: rotate(360deg);
  transition: transform 0.3s;
}
.arrowSVG.opened {
  transform: rotate(270deg);
}

.ddArrow {
  width: 24px;
  height: 24px;
  transition: translate;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
  padding: 0;
}

.dpopedPlain {
  display: none;
  position: absolute;
  border: none;
  top: 90px;
  z-index: 4;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
}

.dpopedPlain.opened {
  display: block;
}

.ddItem {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ddItem:hover {
  background-color: #f7fafc;
}
